<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Savings Account</title>
</head>
<body>
    <div>
        <div></div>
        <div class="tab">
            <button class="tablinks" onclick="openConversionType(event, 'celsiusToKelvin')">Deposit</button>
            <button class="tablinks" onclick="openConversionType(event, 'kelvinToCelsius')">Withdrawal</button>
            <button class="tablinks" onclick="openConversionType(event, 'kilometresToMiles')">Transfer</button>
        </div>

        <!--A form to display the conversion calculator view from Miles to Kilometres-->
        <div id="milesToKilometres" class="tabcontent">
            <form id="formMiles" ng-submit="submitMiles()">
                <div class="form-group">
                    <label class="lb-text">Miles</label>
                    <input type="number" step="0.01" ng-model="miles"><br>
                    <p>{{distanceOutput}}</p>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Convert</button>
                    <button class="btn btn-secondary btn-lg btn-block" ng-click="resetMtoKForm()">Reset</button><br>
                </div>
            </form>
        </div>

        <!--A form to display the conversion calculator view from Miles to Kilometres-->
        <div id="milesToKilometres" class="tabcontent">
            <form id="formMiles" ng-submit="submitMiles()">
                <div class="form-group">
                    <label class="lb-text">Miles</label>
                    <input type="number" step="0.01" ng-model="miles"><br>
                    <p>{{distanceOutput}}</p>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Convert</button>
                    <button class="btn btn-secondary btn-lg btn-block" ng-click="resetMtoKForm()">Reset</button><br>
                </div>
            </form>
        </div>

        <!--A form to display a bank account transfer from one account to another-->
        <div id="milesToKilometres" class="tabcontent">
            <form id="formMiles" ng-submit="submitMiles()">
                <div class="form-group">
                    <label class="lb-text">Miles</label>
                    <input type="number" step="0.01" ng-model="miles"><br>
                    <p>{{distanceOutput}}</p>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Convert</button>
                    <button class="btn btn-secondary btn-lg btn-block" ng-click="resetMtoKForm()">Reset</button><br>
                </div>
            </form>
        </div>

        <div id="div-btn-history" class="d-flex justify-content-center">
            <!--<button id="history" ng-click="getHistory()">Show Conversion History</button>-->
            <input type="button" id="history" class="btn btn-primary" value="Show Conversion History" ng-click="getHistory()">
        </div>

    </div>
    <link rel="stylesheet" href="css/main.css">
</body>
</html>